@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#header {
  margin-left: 40px;
}

#body {
  height: 100%;
  width: 100%;
}

#tweets {
  list-style-type: none;
}

.tweet {
  font-size: 18px;
}

.tweet img {
  height: 30px;
  width: 30px;
}

.tweet .tweet-user {
  font-size: 30px;
}